:root {
  --font-color: rgba(22, 28, 45, 0.7);
  --border-radius: 6px;
  --bg-color: #fff;
  --bg-light: rgba(130, 115, 252, 0.05);
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --border-color-light: #eee;
  --heading-color: #232121;
  --bg-grey: #f7f7f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  font-family: "Segoe UI";
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparen;
}

.btn-white:hover {
  background: #fff;
  color: var(--primary-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

.title__diner {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.title__diner__info {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.two {
  color: #fff;
}

/* start banner */
.diner__banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/dinner/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
/* end banner */

/* header start */

.navbar {
  padding: 40px 0 20px 0;
}
.diner__header a.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  font-family: "Segoe UI";
  cursor: pointer;
}

.diner__header .diner__menu .search__bar {
  position: relative;
}

.diner__header .diner__menu .form-control {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}
.diner__header .diner__menu .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.diner__header .diner__menu .mode__toggle i {
  color: #eee;
  font-size: 24px;
}

button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}
/* header end */

/* start banner infor */
.diner__banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.diner__banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.diner__banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

/* end banner infor */

/* start about */

/* end about */

/* start book */
.diner__book {
  background: var(--primary-color);
}

.book__image {
  background: url(../images/dinner/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.book__image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.diner__book p {
  color: #ffdfc9;
}

.book__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

.book__grid-gd:hover .icon span.fa {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.book__grid .book__grid-link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Segoe UI";
}

.book__grid .book__grid-link:hover {
  opacity: 0.9;
}

.book__grid-gd .icon {
  background: #fff;
}
.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
/* end book */

/* start category */
.diner__category .category__item-img {
  position: relative;
}

.diner__category .category__item-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.diner__category .category__item-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: var(--border-radius);
}

.diner__category img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.diner__category .category__item-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  color: #fff;
  transform: translate3d(0, 10%, 0);
}

.diner__category .category__item a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.diner__category .category__item-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}
/* end category */

/* start service */
.diner__service {
  position: relative;
}

.service__item {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}

.service__item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.service__item:hover .icon {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.service__item:hover .icon span.fa {
  color: var(--bg-color);
}

.service__item-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.service__item h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
  font-family: "Segoe UI";
}

.service__item h4 a:hover {
  color: var(--primary-color);
}
/* end service */

/* start middle */
.diner__middle {
  background: url(../images/dinner/banner2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.diner__middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.middle__content {
  max-width: 700px;
  margin: 0 auto;
}

.middle__content h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: var(--bg-color);
  max-width: 800px;
}
/* end middle */

/* start stats */
.diner__stats {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}

.stat__item {
  background-color: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: 0.3s ease;
}

.stat__item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
}

.stat__item span.fa {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.timer {
  font-size: 2.6em;
  font-family: "Segoe UI";
  font-weight: 600;
  color: var(--heading-color);
}

.stat__text {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
}
/* end stats */

/* start video */
.video__block {
  background: var(--bg-color);
}

.diner__video .video__history-info {
  background: url(../images/dinner/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}

.diner__video .video__history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}

.diner__video span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-top: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}

.diner__video span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}

.diner__video .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.mfp-hide {
  display: none !important;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

iframe {
  border: none;
  display: block;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.mfp-close {
  line-height: 40px;
  position: absolute;
  right: 0px;
  top: -40px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  background: transparent;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  /* -webkit-appearance: none; */
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
}
/* end video */

/* start blogs */
.diner__blogs {
  background: var(--bg-grey);
}

.diner__blogs .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.diner__blogs .card-header {
  border: none;
}

.radius-image {
  border-radius: var(--border-radius);
}

.diner__blogs .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.diner__blogs a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.diner__blogs .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.diner__blogs a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  font-family: "Segoe UI";
}

.diner__blogs .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.diner__blogs .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.diner__blogs a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

.diner__blogs a.read:hover {
  color: var(--primary-color);
}

.diner__blogs .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}

.diner__blogs a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.diner__blogs .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
/* end blogs */

.diner__carousel a.comment__img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
} /* start carousel */

.diner__carousel .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.img__responsive {
  max-width: 100%;
  display: block;
}

.diner__carousel blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
  font-style: italic;
  font-family: "Segoe UI";
  letter-spacing: 1px;
}

.diner__carousel blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  /* font-family: initial; */
  font-family: "Segoe UI";
}

.diner__carousel .testimonial .people__info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.diner__carousel p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.diner__carousel .testimonial {
  max-width: 700px;
  margin: 0 auto;
}
/* end carousel  */

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
